body {
  font-family: 'Courier New', Courier, monospace;
  color: $text;
  background-color: $background;
}
.heading,
.subheading {
  max-width: 44%;
  text-align: center;
  margin: 0 auto;
  margin-top: 2%;
}

.subheading_descr {
  width: 77vw;
  max-width: 900px;
  margin: 2% auto;
  text-align: center;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #98d0f6;
  padding: 20px;
  width: 60vw;
  max-width: 385px;
  margin: 0 auto;
  border: 3px outset #6fbff5;
}

.header-board {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.timer, .mine-counter {
  background-color: #000;
  color: #FF0;
  font-family: 'Quantico', sans-serif;
  font-size: 18px;
  padding: 10px;
  width: 50px;
  text-align: center;
  border: 2px inset #6fbff5;
}

.reset-button {
  background-color: #0798f8;
  border: 3px outset #6fbff5;
  font-size: 30px;
  padding: 3px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.fa-face-frown-slight {
  font-size: 30px;
}

.reset-button:active {
  background-color: #0371ba;
  border: 3px outset #5c9dc8;
  /*transform: scale(0.95);*/
}

.cells {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 3px;
  width: 100%;
}

.footer-board__text {
  color: $background;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}

.theme-selector {
  display: flex;
  gap: 12px;
}

label {
  color: $background;
  letter-spacing: -1px;
  font-size: 16px;
  font-weight: 500;
}
